<h1 id="addTitle"><%= title %></h1>    

<!-- AddVehicleForm.ejs -->


<div id="addContainer">

    <p>Confirm Deletion - The delete is permanent.</p>

    <form action="/inv/deleteConfirm" class="addForm" id="deleteForm" method="post">

        <label for="classification_id">Classification:</label>
        <%- classificationList %>
   
        <label for="inv_make">Make:</label>
        <input type="text" placeholder="Min of 3 characters" id="inv_make" name="inv_make" pattern="[A-Za-z]+" readonly 
            <% if (locals.inv_make) { %>
                value="<%= locals.inv_make %>"
            <% } %>>

        <label for="inv_model">Model:</label>
        <input type="text" placeholder="Min of 3 characters" id="inv_model" name="inv_model" pattern="[A-Za-z]+" readonly
            <% if (locals.inv_model) { %>
                value="<%= locals.inv_model %>"
            <% } %>>
    
        <label for="inv_year">Year:</label>
        <input type="number" placeholder="4-digit year" id="inv_year" name="inv_year" min="1886" max="2099"  readonly
            <% if (locals.inv_year) { %>
                value="<%= locals.inv_year %>"
            <% } %>>

        <label for="inv_price">Price:</label>
        <input type="number" placeholder="Decimal or integer" id="inv_price" name="inv_price" min="0" 
            <% if (locals.inv_price) { %>
                value="<%= locals.inv_price %>"
            <% } %>>

            <input type="hidden" id="inv_id" name="inv_id" value="<%= inv_id %>">

        <button type="submit">Delete </button>

    </form>

</div>